body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Light gray background */
}
.portfolio-title {
    font-size: 32px;
    color: #333; /* Dark gray text */
    margin-bottom: 10px;
  }
  .justified-text {
    text-align: justify;
    line-height: 1.6; /* Adjust line height for better readability */
  }
  
header {
    background-color: #ffffff; /* White header */
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}
form {
    display: grid;
    gap: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  /* ... (existing styles) ... */

#projects ul {
    list-style: none;
    padding: 0;
  }
  
  #projects li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .view-project-link {
    display: block;
    width: 30%;
    margin-top: 10px;
    text-align: center;
    background-color: #007bff; /* Adjust the color */
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .view-project-link:hover {
    background-color: #0056b3; /* Adjust the hover color */
  }
  
  /* ... (rest of the styles) ... */
  
  button {
    background-color: #000000;
    width: 30%;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #414141; /* Darker shade on hover */
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}
/* Add this block of code to the existing styles in your CSS file */

/* Style for the projects section */
#projects img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style for project images */
#projects img {
  width: 30%;
  height: auto;
  border: 1px solid #ccc; /* Optional: Add a border for separation */
  border-radius: 5px; /* Optional: Add rounded corners */
  margin-bottom: 10px;
}

nav a {
    text-decoration: none;
    color: #333; /* Dark gray text */
    font-weight: bold; /* Bold font for navigation links */
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav a:hover {
    color: #000000; /* Accent color on hover */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px; /* Increased margin for better separation */
}

.accent-color {
    color: #000000; /* Your chosen accent color */
}

footer {
    background-color: #ffffff; /* White footer */
    padding: 20px;
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* Inverted box shadow for depth */
}
